@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.jsx';
@source '../**/*.js';
@keyframes blink {
    0%, 20% { opacity: 0; }
    50% { opacity: 1; }
}

.typing-dots span {
    animation: blink 1.4s infinite;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}
